{% if session['role'] == 'admin' %}
    {% extends 'admin_base.html' %}
{% elif session['role'] == 'employee' %}
    {% extends 'employee_base.html' %}
{% endif %}

{% block title %}
    Edit User
{% endblock %}

{% block content %}
    
    <div class="register">
        <div>
            <ul>
                <li style="float: right;"><a class="active" href="{{ url_for('users.view')}}">Back</a></li>
            </ul>
        </div>    
        <h1>Edit</h1>
        <form action="{{ url_for('users.change_password', id=id) }}" method="post" autocomplete="off">
            <label for="password">
                <i class="fas fa-lock"></i>
            </label>
            <input type="password" name="password" placeholder="Enter Password" id="password" required>
             
            <label for="confirm_password">
                <i class="fas fa-lock"></i>
            </label>
            <input type="password" name="confirm_password" placeholder="Confirm Password" id="confirm_password" required>
            

            
            <div class="message">{{ message }}</div>
            <input type="submit" value="Save">
        </form><div>
        
    </div>
{% endblock %}