body{
    color: white;
    background-color: #212121;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #4a190d;
}

li {
	float: left;
}

li a, .btn {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

	/* :not(.active) */
li a:hover, .btn:hover  {  
	background-color: #9f371d;
}
	/* 2cccf4 */
.active, .btn  {
	background-color: #f4542c;
}


	/* ------------------------------ */


* {
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body {
  	background-color: #212121;
  	margin: 0;
}
.login, .register {
  	width: 400px;
  	background-color: #4a190d;
  	box-shadow: 0 0 20px 0 rgb(109, 38, 20);
  	margin: 100px auto;
}
.login h1, .register h1 {
  	text-align: center;
  	color: #ffffff;
  	font-size: 24px;
  	padding: 20px 0 20px 0;
  	border-bottom: 1px solid #ffffff;
}
.login .links, .register .links {
  	display: flex;
  	padding: 0 15px;
	justify-content: center;
	align-items: center;
}
.login .links a, .register .links a {
  	color: #fdf0ed;
  	text-decoration: none;
  	display: inline-flex;
  	padding: 0 10px 10px 10px;
  	font-weight: bold;
}
.login .links a:hover, .register .links a:hover {
  	color: #fdf0ed;
}
.login .links a.active, .register .links a.active {
  	border-bottom: 3px solid #9f371d;
  	color: #9f371d;
}
.login form, .register form {
  	display: flex;
  	flex-wrap: wrap;
  	justify-content:center;
  	padding-top: 20px;
}
.login form label, .register form label {
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	width: 50px;
  	height: 50px;
  	background-color: #9f371d;
  	color: #fdf0ed;
}
.login form input[type="password"], .login form input[type="text"], .login form input[type="email"], .register form input[type="password"], .register form input[type="text"], .register form input[type="email"], .select {
  	width: 310px;
  	height: 50px;
  	border: 1px solid #fdf0ed;
  	margin-bottom: 20px;
  	padding: 0 15px;
}
.login form input[type="submit"], .register form input[type="submit"] {
  	width: 100%;
  	padding: 15px;
  	margin-top: 20px;
  	background-color: #f4542c;
  	border: 0;
  	cursor: pointer;
  	font-weight: bold;
  	color: #ffffff;
  	transition: background-color 0.2s;
}
.login form input[type="submit"]:hover, .register form input[type="submit"]:hover {
  	background-color: #e64e28;
  	transition: background-color 0.2s;
}

.message{
	color: #fdf0ed;
	max-width: fit-content;
}
.navtop {
  	background-color: #2f3947;
  	height: 60px;
  	width: 100%;
  	border: 0;
}
.navtop div {
  	display: flex;
  	margin: 0 auto;
  	width: 1000px;
  	height: 100%;
}
.navtop div h1, .navtop div a {
  	display: inline-flex;
  	align-items: center;
}
.navtop div h1 {
  	flex: 1;
  	font-size: 24px;
  	padding: 0;
 	margin: 0;
  	color: #eaebed;
  	font-weight: normal;
}
.navtop div a {
  	padding: 0 20px;
  	text-decoration: none;
  	color: #c1c4c8;
  	font-weight: bold;
}
.navtop div a i {
  	padding: 2px 8px 0 0;
}
.navtop div a:hover {
  	color: #eaebed;
}
body.loggedin {
  	background-color: #f3f4f7;
}
.content {
  	width: 90%;
  	margin: 0 auto;
}
.content h2 {
  	margin: 0;
  	padding: 25px 0;
  	font-size: 22px;
  	border-bottom: 1px solid #e0e0e3;
  	color: #4a190d;
}
.content > p, .content > div {
  	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  	margin: 25px 0;
  	padding: 25px;
	background-color: #4a190d;
}
.content > p table td, .content > div table td {
	padding: 5px;
}
.content > p table td:first-child, .content > div table td:first-child {
	font-weight: bold;
	color: #f4542c;
	padding-right: 15px;
}
.content > div p {
	padding: 5px;
	margin: 0 0 10px 0;
}

/* Style the select element */
select {
  	height: 50px;
  	border: 1px solid #fdf0ed;
  	margin-bottom: 20px;
  	padding: 0 15px;
	outline: none; /* Remove outline when focused */
  }
  
  /* Style the options */
option {
	padding: 8px 10px;
	font-size: 16px;
	background-color: #fff;
	color: #333;
	transition: background-color 0.3s ease; /* Smooth transition */
}
  
  
  /* Style the selected option */
option:checked {
	background-color: #9f371d;
	color: #fff;
}


.btn-round {
	border-radius: 50% ;
    background-image: url(/static/plus_icon.jpg);
    background-size: contain; /* Ensure the background image fits the button */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    background-position: center; /* Center the background image */
    width: 60px; /* Set the button's width to match the image */
    height: 60px; /* Set the button's height to match the image */
    border: none; /* Remove default button border */
    cursor: pointer; /* Change cursor to pointer */
}
.bottom-right {
	padding: 0; /* Remove default padding */
	position: fixed; /* Fix the button position relative to the viewport */
    bottom: 50px; /* Set the margin from the bottom */
    right: 50px; /* Set the margin from the right */
}


.welcome {
	margin: 30px;
	font-size: larger;
}

.content-table {
	width: 60%;
	margin: 0 auto;
	display: flex;
	justify-content: center; 
}
.content-table > div {
  	width: 100%; 
	display: flex;
	justify-content: center; 
}
.content-table h2 {
	margin: 0;
	padding: 25px 0;
	font-size: 22px;
	border-bottom: 1px solid #e0e0e3;
	color: #4a190d;
}
.content-table > p, .content-table > div {
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
	margin: 25px 0;
	padding: 25px;
  background-color: #4a190d;
}
.content-table > div > table {
	table-layout: auto;
	width: 90%;  
}
th {
  text-align: left;
}
.content-table > p table td, .content-table > div table td {
  padding: 5px;
}
.content-table > p table td:first-child, .content-table > div table td:first-child {
  font-weight: bold;
  color: #f4542c;
  padding-right: 15px;
}
.content-table > div p {
  padding: 5px;
  margin: 0 0 10px 0;
}
